.StudentExperienceItems {
    display: flex;
    justify-content: space-evenly;
}


@media (max-width: 410px) {
    .StudentExperienceItems {
        flex-direction: column;
        align-items: center;
    }
}