
.searchable-list {
    /* background: blueviolet; */
    width: 70vw;
    min-height: 70vh;
}

.searchable-list li {
  list-style: none;
}

.searchable-list input {
    width: 70%;
    padding: 0.75rem;
    border: 1px solid #0e4f1f;
    border-radius: 6px;
    /* background-color: #0e4f1f; */
    color: #0e4f1f;
    font: inherit;
  }

  .searchable-list input:focus {
    outline: none;
    border: 2px solid #0e4f1f;
  }

  .content-before-typing {
    /* background: #0e4f1f; */
    height: 60vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
  }

  .conten-after-typing span {
    color: #123b1c;
  }

  .conten-after-typing h2 {
    padding-top: 1rem;
    color: #0e4f1f;
  }