.ui-button {
    background: #0e4f1f;
    color: white;
    font: inherit;
    border: 1.5px solid #0e4f1f;
    padding: 8px;
    border-radius: 8px;
    font-weight: bold;
    cursor: pointer;
    min-width: 7rem;
    text-align: center;
}

.ui-button:hover {
    background: white;
    color: #0e4f1f;
    border: 2px solid #0e4f1f; /* Change border color on hover */
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
}

.ui-button:active {
    background: #0e4f1f;
    color: white;
}

.ui-button.red {
    background: red;
    color: white;
    border: 1.5px solid red;
}

.ui-button.red:hover {
    background: white;
    color: red;
    border: 2px solid red; /* Change border color on hover */
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
}

.ui-button.red:active {
    background: red;
    color: white;
}

/*by default it is cta-blue which follows btn styling*/
.cta-white {
    background: white;
    color: #0e4f1f !important;
    display: inline-block;
    text-decoration: none;
}

.cta-white:hover {
    background: #0e4f1f; /* Change background on hover */
    color: white !important; /* Change text color on hover */
    border: 2px solid white ; /* Change border color on hover */
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2); /* Add shadow on hover */
}

.cta-white:active {
    background: white;
    color: #0e4f1f !important;
}
