
.rem3-top-place-holder {
  height: 3rem;
}

.img__bg {
    background: url('../../../image/image.jpg'); /*linear-gradient(to right, transparent, transparent),*/
    width: 100%;
    height: 70vh;
    background-size: cover;
    background-position:0% 20%;
    padding: 17.5vh 0;
  }

  .img__bg--item {
    width: 30%;
    height: 100%;
    background: white;
    margin-left: 5% ;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.08), 0 4px 12px rgba(0, 0, 0, 0.08);
    padding: 1rem;
    border-radius: 4px;
  }

  .img__bg--item-title {
    padding: 1rem 3rem;
    color: #0e4f1f;
    margin-left: 2rem;
    font-weight: bold;
  }