.cta-findmedicine {
    padding: 2rem 1rem;
    display: flex;
}

.cta-findmedicine__button {
    margin-left: 6rem;
}

.cta-getstarted {
    padding: 2rem 1rem;
    display: flex;
}

.cta-getstarted__text {
    width: 70vw;
}

.cta-getstarted__button {
    margin-left: 3rem;
}

.featured-pharmacies {
    height: 80vh;
}

.featured-pharmacies h1 {
    margin: 1.5rem;
    color: var(--dark-green);
}