.nav {
    background: var(--dark-green);
    width: 100%;
    position: fixed;
}

.nav-lists {
    list-style: none;
    color: white;
    display: flex;
    height: 3rem;
    font-weight: 500;
    font-size: 16px;
    align-items: center;
    justify-content: space-between;
    padding: 0 2rem;
}

.nav-lists a {
    color: inherit;
    text-decoration: none;
}

.nav-lists a.link:hover {
    border-bottom: 4px solid white;
    padding-bottom: 0.1rem;
}

.nav-lists a.link.active {
    border-bottom: 4px solid white;
    padding-bottom: 0.1rem;
}


.logo {
    width: 30%;
}

.nav-lists__links {
    width: 60%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}