.pharmacy-card {
    width: 25vw;
    height: 60vh;
    /* border: 2px solid #0e4f1f; */
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(14,79,31,0.8);
    margin: 2rem 0;
}

.pharmacy-card:hover {
    width: 25.5vw;
    height: 60.5vh;
    box-shadow: 0 0 20px rgba(14,79,31,0.8);
}

.pharmacy-card a{
    color: var(--dark-green);
    text-decoration: none;
}

.pharmacy-card__image {
    width: 100%;
    height: 70%;
    overflow: hidden;       /* Hide overflow to keep the image within the circle */
    display: flex;          /* Center the image */
    align-items: center;
    justify-content: center;
    /* border: 1px solid #0e4f1f; */
}

.pharmacy-card__image img {
    width: 100%;            /* Make the image take up full width */
    height: 100%;           /* Adjust height to fit */
    object-fit: cover;      /* Crop to fill the container while preserving aspect ratio */
  }

.pharmacy-card__content {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0.5rem 1rem;
}

.pharmacy-card__content h2 {
    color: var(--dark-green);
    padding-bottom: 0.3rem;
}